*{
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: azure;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.game-title {
    text-align: center;
    /*margin: auto;*/
    font-size: 32px;
    font-weight: bold;
    color: black;
}

.app{
    max-width: 500px;
    width: 100%;
    padding: 16px;
    margin: auto;
}

.score{
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: black;
    margin-top: 12px;
}

.grid-container{
    width: 300px;
    height: 300px;
    background-color: #ffe69a;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.game-buttons{
    margin-top: 20px;
}