*{
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: azure;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

#game-title {
    text-align: center;
    /*margin: auto;*/
    font-size: 32px;
    font-weight: bold;
    color: black;
}

#app{
    max-width: 500px;
    width: 100%;
    padding: 16px;
    margin: auto;
}

#score{
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: black;
    margin-top: 12px;
}

#grid-container{
    width: 300px;
    height: 300px;
    background-color: #05359c;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

#game-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.grid{
    padding: 10px;
    border: 8px;
}

.game-cell{
    background-color: #ffe69a;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

#game-over-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-over-modal.hidden {
    display: none;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.game-over-box {
    position: relative;
    background: white;
    padding: 20px;
    border-radius: 12px;
    z-index: 10;

    width: 80%;
    max-width: 300px;
    text-align: center;

    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.game-over-box h2 {
    margin-top: 0;
}

.game-over-box input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
}

.game-over-box button {
    margin: 6px;
    padding: 10px;
}
